@font-face {
  font-family: 'Adieu';
  font-style: normal;
  font-weight: 400;
  src:
    font-url('Adieu-Regular.woff2') format('woff2'),
    font-url('Adieu-Regular.woff') format('woff'),
    font-url('Adieu-Regular.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'Adieu';
  font-style: normal;
  font-weight: 700;
  src:
    font-url('Adieu-Black.woff2') format('woff2'),
    font-url('Adieu-Black.woff') format('woff'),
    font-url('Adieu-Black.eot?#iefix') format('embedded-opentype');
}
