@font-face {
  font-family: 'Steinbeck';
  font-style: normal;
  font-weight: 400;
  src: font-url('Steinbeck-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Signifier';
  font-style: normal;
  font-weight: 300;
  src: font-url('signifier-web-light.woff2') format('woff2');
}
