// Font Families
$font-family: 'Steinbeck';

// Font Sizes
$font-size--sm: 14px;
$font-size--md: 18px;
$font-size--lg: 46px;

// Line Heights
$line-height--lg: 1.5em;
$line-height--sm: 1.25em;

// Colors
$color--bg: #C7D5D3;
$color--text: #000000;

// Breakpoints
$bp--mobile: 375px;
$bp--tablet: 768px;
$bp--desktop-sm: 1100px;
$bp--desktop-md: 1400px;
$bp--desktop-lg: 1680px;

// Sizes
$site-padding: 2em;
