// Fonts
$font--base: 'Walsheim';
$font--condensed: 'Walsheim Condensed';
$font--headings: 'Adieu';

// Font Sizes
$font-size--xxs: 14;
$font-size--xs: 16px;
$font-size--sm: 18px;
$font-size--base: 20px;
$font-size--md: 24px;
$font-size--lg: 50px;
$font-size--xl: 70px;
$font-size--xxl: 100px;

// Font Sizes Applied
$font-size--h1-max: $font-size--xxl;
$font-size--h2-max: $font-size--xl;
$font-size--h3-max: $font-size--md;
$font-size--h6-max: $font-size--xs;

// Line Heights
$lh--headings: 1.25;
$lh--base: 1.5;

// Colors
$color--white: #FFFFFF;
$color--black: #000000;
$color--gray: #7F7D77;
$color--tan: #F0EEE7;
$color--dark-tan: #E8E5DC;
$color--hunter: #183428;
$color--spruce: #3D5A4E;
$color--coral: #FFA369;

// Spacing
$spacing--sm: 10px;
$spacing--base: 20px;
$spacing--md: 40px;
$spacing--lg: 60px;

// Borders
$border--base: 1px solid rgba($color--black, 0.2);

// Border Radius
$border-radius--sm: 3px;
$border-radius--lg: 6px;

// Sizes
$container-width: 1300px;
