$input-height: $spacing--lg;
$submit-spacing: $spacing--xxs;
$submit-height: $input-height - $submit-spacing * 2;

fieldset {
  border: 0;
  display: inline-block;
  padding: 0;
  position: relative;

  @include mq(max, $bp--tablet-xl) {
    width: 100%;
  }
}

input {
  appearance: none;
  border: 0;
}

[type="email"] {
  @include padding(null $spacing--base);
  background-color: $color--white;
  border-radius: $border-radius--lg;
  font-size: $font-size--sm;
  font-weight: 500;
  height: $input-height;
  outline: none;
  width: 100%;

  @include mq($bp--tablet-xl) {
    width: 500px;
  }

  &::placeholder {
    color: $color--hunter;
    transition: color 300ms ease-in-out;
  }

  &:focus {
    color: $color--hunter;

    &::placeholder {
      color: rgba($color--hunter, 0.25);
    }
  }
}

[type="submit"] {
  @include button-base;

  @include mq(0, $bp--tablet-xl) {
    border-radius: $border-radius--lg;
    height: $input-height;
    margin-top: $spacing--sm;
    width: 100%;
  }

  @include mq($bp--tablet-xl) {
    @include padding(null $spacing--sm);
    @include position(absolute, 0 0 null null);
    border-radius: $border-radius--sm;
    height: $submit-height;
    margin: $submit-spacing;
    width: auto;
  }
}
