body {
  @include padding(null $outer-padding null);
  background-color: $color--tan;
  color: $color--gray;
  font-family: $--secondary;
  font-size: $font-size--base;
  line-height: $lh--base;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  @include mq($bp--desktop) {
    padding-top: $nav-height;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

.hidden {
  @include position(absolute, auto null null -10000px);
  @include size(1px);
  overflow:hidden;
}
