body {
  background-color: $color--tan;
  color: $color--gray;
  font-family: $font--base;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.container {
  @include margin(null auto);
  max-width: $container-width;
}
