p {
  margin: 0;

  &:not(:last-of-type) {
    margin-bottom: 1em;
  }
}

a {
  border-bottom: 2px dotted;
  color: inherit;
  font-family: $font-family--serif;
  text-decoration: none;
  position: relative;

  &:hover {
    background-color: $color--highlight;
    cursor: crosshair;
  }
}

figcaption {
  font-size: $font-size--sm;
  line-height: $line-height--sm;
}
