@mixin fancy-number {
  @include fluid-type($bp--tablet, $bp--desktop, $font-size--xl, $font-size--xxl);
  color: transparent;
  font-family: $font--primary;
  font-weight: 700;
  line-height: 1;
  text-shadow: 2px 2px $color--coral;
  -webkit-text-stroke: 1px $color--hunter;
}
