@mixin fancy-number {
  color: transparent;
  font-family: $font--primary;
  font-size: $font-size--xxl;
  font-weight: 700;
  line-height: 1;
  text-shadow: 2px 2px $color--coral;
  -webkit-text-stroke: 1px $color--hunter;
}
