@mixin section-title {
  color: $color--hunter;
  text-align: center;
  margin-bottom: $spacing--lg;
}

@mixin section-spacing($property, $multiplier: 1) {
  #{$property}: $section-spacing--sm * $multiplier;

  @include mq($bp--tablet) {
    #{$property}: $section-spacing--base * $multiplier;
  }

  @include mq($bp--desktop) {
    #{$property}: $section-spacing--lg * $multiplier;
  }
}

@mixin reversed-section {
  @include container;
  @include section-spacing(padding);
  background-color: $color--hunter ;
  border-radius: $border-radius--lg;
  color: $color--tan;
  overflow: hidden;
  position: relative;
}
