@mixin tag($location: 'centered') {
  @include padding(null $spacing--sm);
  background-color: $color--hunter;
  color: $color--tan;
  line-height: $spacing--md;

  @if $location == 'left' {
    border-radius: 0 $border-radius--lg;
  }

  @if $location == 'centered' {
    border-radius: $border-radius--sm;
  }

  @if $location == 'right' {
    border-radius: $border-radius--lg 0;
  }
}
