%section.about
  .about__content
    %h2.about__title About Us
    %article.about__section
      = image_tag 'https://source.unsplash.com/random', class: 'about__image'
      %div
        %h3 Founded
        .about__number
          1894
        %p
          Founded in 1894, the Dedham Cycle Club Nulla vitae elit libero, a pharetra augue. Aenean
          lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor porttitor. Aenean
          lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor porttitor. Aenean
          lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor porttitor curabitur
          blandit.
    %article.about__section
      = image_tag 'https://source.unsplash.com/random', class: 'about__image'
      %div
        %h3 Founded
        .about__number
          1894
        %p
          Founded in 1894, the Dedham Cycle Club Nulla vitae elit libero, a pharetra augue. Aenean
          lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor porttitor. Aenean
          lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor porttitor. Aenean
          lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor porttitor curabitur
          blandit.
