%section#about.about
  .about__content
    %h2.about__title About Us
    .about__sections
      %article.about__section
        %figure.about__figure
          = image_tag 'about/1894.png', class: 'about__image'
        %div.about__section-content
          %h3 Established
          .about__number
            1894
          %p
            During the late 1800's the popularity of cycling increased exponentially and
            Massachusetts was at the center of the craze. The Boston Cycle Club was the first of its
            kind in the nation and it soon became assosiated with the League of American Wheelmen, a
            national organization established in 1880. By 1892, the craze had officially spread to
            Dedham. That year, the original Dedham Cycle Club was established and their inagueral
            ride attracted 8,000 riders on Patriot's Day of that year.
      %article.about__section
        %figure.about__figure
          = image_tag 'about/2018.png', class: 'about__image'
        %div.about__section-content
          %h3 Re-established
          .about__number
            2018
          %p
            In 2018, the Dedham Cycle Club was restarted by a group of local residents. Today our club
            organizs fun group rides for all ages & skill levels and supports events and activities
            that encourage cycling. On our rides, safety comes first; no one gets left out or left behind.
            We hope that our organization will help to promote a healthy and active lifestyle
            and create awareness about the benefits of cycling.
