%section#events.events
  %h2.events__title 2019 Events
  .events__content
    - data.space.events.each_with_index do |(id, event), index|
      = partial 'partials/components/event', locals: { event: event, index: index }
