%footer.footer
  %ul.footer__list
    %li.footer__item
      = link_to 'Facebook', '#', class: 'footer__link'
    %li.footer__item
      = link_to 'Email', '#', class: 'footer__link'
    %li.footer__item
      = link_to 'Eventbrite', '#', class: 'footer__link'
  %small
    Copyright © 2019
