%footer.footer
  %ul.footer__list
    %li.footer__item
      = link_to 'Facebook',
        'https://www.facebook.com/dedhamcycleclub/',
        class: 'footer__link',
        target: '_blank'
    %li.footer__item
      = link_to 'Email',
      'mailto:dedhamcycleclub@gmail.com',
      class: 'footer__link',
      target: '_blank'
    %li.footer__item
      = link_to 'Newsletter',
      'https://us19.campaign-archive.com/home/?u=71aa0f98abb3b2f6b6ae59031&id=45a57c453d',
      class: 'footer__link',
      target: '_blank'
  %small
    Copyright © 2019
