%section#mission.mission
  .mission__content
    %h2.mission__title Our Mission
    %p.mission__statement
      Our mission is to foster a safe and welcoming bike community through group rides, cycling
      events and through collaboration with our town government and local businesses and
      organizations. In 2018, we worked towards these goals by introducing
      = succeed "," do
        = link_to 'new bike racks at Endicott Station', '#', class: 'mission__highlight'
      advocating for cycling in future town improvement projects, and through
      = link_to 'various rides we hosted', '#', class: 'mission__highlight'
      for all ages and abilities.
    %p.mission__attribution
      Georganna, Danielle, Cindy, Gianna, and Ali
    %figure.mission__logo
      = svg('logo')
