%section#mission.mission
  .mission__content
    %h2 2019 Events
    %p.mission__statement
      Our mission is to foster a safe and welcoming bike community through group rides, cycling
      events and through collaboration with our town government and local businesses and
      organizations. In 2018, we worked towards these goals by introducing
      %span.mission__highlight
        new bike racks at Endicott Station,
      advocating for cycling in future town improvement projects, and through
      %span.mission__highlight
        various rides we hosted
      for all ages and abilities.
