%nav.nav
  %ul.nav__items
    %li.nav__item= link_to 'Our Mission', '#mission', class: 'nav__link'
    %li.nav__item= link_to '2019 Events', '#events', class: 'nav__link'
    %li.nav__item= link_to 'About Us', '#about', class: 'nav__link'
  = link_to 'Join Us', '#join', class: 'nav__cta'
