%section.topper
  .topper__logo
    %h1
      Dedham
      %br
      Cycle
      %br
      Club
    %p.topper__subhead
      Fostering a welcoming & safe bike community in Dedham.
    = link_to "Learn More", "#mission", class: 'topper__cta'
  .topper__featured-event
    = partial 'partials/components/featured_event', locals: { event: data.events.first }
