%section.topper
  .topper__content
    %h1
      Dedham
      %br
      Cycle
      %br
      Club
    %p.topper__subhead
      Fostering a welcoming & safe
      %br
      bike community in Dedham.
    = link_to "Learn More", "#mission", class: 'topper__cta'
  .topper__featured-event
    - sorted_events = data.space.events.sort_by{ |id, event| event[:date] }
    = partial 'partials/components/featured_event', locals: { event: sorted_events.first.last }
