.event {
  border: $border--base;
  border-radius: $border-radius--lg;
  padding: $spacing--md;
  position: relative;
  width: 25%;
}

.event__type {
  @include margin(null auto);
  @include padding(null $spacing--sm);
  @include position(absolute, 100% 0 null);
  background-color: $color--hunter;
  border-radius: $border-radius--sm;
  color: $color--tan;
  display: inline-block;
  line-height: $spacing--md;
  position: relative;
  text-align: center;
}
