
$events-per-row: 4;
$event-margin--sm: $spacing--md;
$event-margin--lg: $spacing--lg;

.event {
  @include event-border;
  display: flex;
  flex-direction: column;
  margin-top: $stamp-size--half;
  justify-content: flex-end;

  &.inactive {
    pointer-events: none;
    opacity: 0.5;
  }

  @include mq(max, $bp--tablet) {
    margin-right: $spacing--base;
    min-width: 80vw;

    &.inactive {
      display: none;
    }
  }

  @include mq($bp--tablet) {
    @include margin(null 1%);
  }

  @include mq($bp--tablet, $bp--desktop) {
    width: 48%;

    &:nth-of-type(n+3) {
      margin-top: $stamp-size--half + $event-margin--lg;
    }
  }

  @include mq($bp--desktop, $bp--desktop-xl) {
    width: 31.3%;

    &:nth-of-type(n+4) {
      margin-top: $stamp-size--half + $event-margin--lg;
    }
  }

  @include mq($bp--desktop-xl) {
    width: 23%;

    &:nth-of-type(n+5) {
      margin-top: $stamp-size--half + $event-margin--lg;
    }
  }
}

.event__for {
  @include event-for(event, null $spacing--base 100% null, 0, 50%)
}

.event__content {
  padding: $spacing--md;
}

.event__date {
  @include event-date;
  @include position(absolute, null null 100%);
  background-color: $color--tan;
  outline: $outline--cover-lines;
  transform: translateY(50%);
  z-index: 1;
}

.event__title {
  @include margin($spacing--lg null $spacing--base);
}

.event__location {
  @include event-location;
}

.event__type {
  @include tag(left);
  @include position(absolute, null null 0 0);
}

.event__figure {
  @include border-bottom-radius($border-radius--lg);
  @include event-figure;
  @include size(100%, 0);
  padding-bottom: 60%;
}

.event__image {
  @include event-image(event);
  background-size: cover;
}
