$featured-event-content-width: 350px;
$featured-event-figure-width: 300px;

.featured-event {
  @include event-border;
  padding-right: $featured-event-figure-width;
}

.featured-event__for {
  @include event-for(featured-event, $spacing--lg 0 null null, 50%, 0)
}

.featured-event__content {
  text-align: center;
  width: $featured-event-content-width;
}

.featured-event__next {
  align-items: center;
  background-color: $color--coral;
  border-top-left-radius: $border-radius--lg;
  color: $color--hunter;
  display: flex;
  height: $spacing--md;
  justify-content: center;
}

.featured-event__body {
  display: flex;
  flex-direction: column;
  padding: $spacing--md $spacing--md $spacing--lg;
  position: relative;
}

.featured-event__month {
  @include event-date;
}

.featured-event__day {
  @include fancy-number;
}

.featured-event__title {
  @include margin($spacing--base null $spacing--xl);
}

.featured-event__location {
  @include event-location;
}

.featured-event__type {
  @include position(absolute, null null 0 50%);
  box-shadow: $border-cover;
  transform: translate(-50%, 50%);
  z-index: 1;
}

.featured-event__figure {
  @include border-right-radius($border-radius--lg);
  @include event-figure;
  @include position(absolute, 0 0 0 null)
  width: $featured-event-figure-width;
}

.featured-event__image {
  @include event-image(featured-event);
  @include size(100%);
  background-size: contain;
}
