.nav {
  @include position(fixed, 0 0 null);
  @include padding(null $outer-padding);
  background-color: $color--dark-tan;
  display: flex;
  font-family: $font--condensed;
  justify-content: space-between;
  overflow: hidden;
  z-index: $z-index--nav;
}

.nav__items {
  @include margin(0 null);
  display: flex;
  list-style-type: none;
  padding: 0;
}

.nav__item:not(:last-of-type) {
  margin-right: $spacing--md;
}

.nav__link {
  @include h6;
  color: $color--hunter;
  display: block;
  line-height: $nav-height;
  position: relative;

  &::after {
    @include position(absolute, null 0 0);
    background-color: currentColor;
    content: '';
    height: $border-width--thick;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }
}

.nav__cta {
  @include h6;
  @include padding(null $spacing--md);
  @include position(absolute, 0 0 null null);
  background-color: $color--coral;
  color: $color--hunter;
  line-height: $nav-height;
  transition: all 300ms ease-in-out;

  &:hover {
    background-color: $color--hunter;
    color: $color--coral;
  }
}
