.nav {
  @include position(fixed, 0 0 null);
  background-color: $color--dark-tan;
  font-family: $font--condensed;
  z-index: $z-index--nav;
}

.nav__inner {
  @include container;
}

.nav__items {
  @include list-reset;
  display: flex;
}

.nav__item {
  &:not(:last-of-type) {
    margin-right: $spacing--md;
  }
}

.nav__link {
  @include h6;
  color: $color--hunter;
  display: block;
  line-height: $nav-height;
  position: relative;

  &::after {
    @include position(absolute, null 0 0);
    background-color: currentColor;
    content: '';
    height: 0;
    transition: height 300ms ease-in-out;
  }

  &:hover {
    &::after {
      height: 2px;
    }
  }
}
