.tag {
  background-color: $color--hunter;
  color: $color--tan;
  padding: $spacing--xs $spacing--sm;

  &.tag--left {
    border-top-right-radius: $border-radius--lg;
  }

  &.tag--center {
    border-radius: $border-radius--sm;
  }
}
