.about__content {
  @include container;
  
  @include mq($bp--desktop) {
    @include section-spacing(padding-left);
    @include section-spacing(padding-right);
  }
}

.about__sections {
  @include lines($left: true);
  @include section-spacing(padding-bottom);
  position: relative;
  z-index: 0;
}

.about__section {
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  &:not(:last-of-type) {
    margin-bottom: $spacing--md;
  }

  @include mq($bp--desktop) {
    flex-direction: row;

    &:not(:last-of-type) {
      margin-bottom: $spacing--lg;
    }
  }
}

.about__image {
  outline: $border-cover;
  margin-right: $spacing--lg;
  width: 100%;

  @include mq($bp--desktop) {
    width: 50%;
  }
}

.about__title {
  @include section-title;
}

.about__number {
  @include fancy-number;
  margin-bottom: $spacing--md
}
