.about__content {
  @include container;
  @include section-indented;
}

.about__title {
  @include section-title;
}

.about__sections {
  @include section-spacing(padding-bottom);
  position: relative;
  z-index: 0;

  @include mq($bp--tablet-xl) {
    @include lines($left: true);
  }
}

.about__section {
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  &:not(:last-of-type) {
    margin-bottom: $spacing--md;
  }

  @include mq($bp--tablet-xl) {
    flex-direction: row;

    &:not(:last-of-type) {
      margin-bottom: $spacing--lg;
    }
  }
}

.about__image {
  width: 100%;

  @include mq(max, $bp--desktop) {
    margin-bottom: $spacing--md;
  }

  @include mq($bp--tablet-xl) {
    box-shadow: $border-cover;
    margin-right: $spacing--md;
    width: 30%;
  }

  @include mq($bp--desktop) {
    width: 40%;
  }

  @include mq($bp--desktop-xl) {
    margin-right: $spacing--lg;
    width: 50%;
  }
}

.about__number {
  @include fancy-number;
  margin-bottom: $spacing--md
}
