.events {
  @include section-spacing(margin-bottom);
  @include section-spacing(margin-top);
}

.events__title {
  @include section-title;
}

.events__content {
  @include container;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
