.events__title {
  color: $color--hunter;
  margin-bottom: 0;
  text-align: center;
}

.events__content {
  @include container;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
