.join {
  @include margin($border-width--cover null);
  @include reversed-section;
  background-image: image-url('pr-cycle.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 90% $spacing--md;
}

.join__title {
  @include section-title(true);
}

.join__text {
  max-width: 40%;
}

.join__form {
  margin-top: $spacing--md;
}
