.join {
  @include margin($border-width--cover null);
  @include reversed-section;
  background-image: image-url('pr-cycle.png');
  background-repeat: no-repeat;
  background-size: auto 90%;
  background-position: 95% bottom;
}

.join__title {
  margin-bottom: $spacing--sm;
}

.join__text {
  max-width: 40%;
}

.join__form {
  margin-top: $spacing--md;
}
