$mission-padding--lg: $spacing--xl;

.mission {
  @include reversed-section;
}

.mission__statement,
.mission__attribution {
  @include body--lg;
}

.mission__highlight {
  @include padding(null $spacing--sm);
  background-color: $color--coral;
  border-radius: $border-radius--lg;
  color: $color--hunter;
  display: inline-block;
  transition: background-color 200ms ease-in-out;

  &:hover {
    background-color: $color--tan;
  }
}

.mission__attribution {
  max-width: 40%;

  &::before {
    @include margin($spacing--lg null);
    @include size($spacing--lg, $spacing--xs);
    background-color: $color--spruce;
    content: '';
    display: block;
  }
}

.mission__logo {
  @include figure-reset;
  @include position(absolute, null $mission-padding--lg (-$spacing--lg) null);
}
