.topper {
  @include container;
  @include lines($right: $section-spacing--base * 2);
  @include margin($border-width--cover null);
  @include section-spacing(padding);
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.topper__subhead {
  @include body--md;
  margin-top: $spacing--md;
  max-width: 60%;
}

.topper__cta {
  @include underline-link;
  display: inline-block;
  margin-top: $spacing--base;
  position: relative;

  &::before,
  &::after {
    @include position(absolute, null null null 100%);
    content: ' ↓';
    margin-left: $spacing--xxs;
  }

  &::before {
    opacity: 0;
    transform: translateY(-100%);
    transition-delay: 100ms;
  }

  &:hover {
    &::before,
    &::after {
      transition:
        opacity 300ms ease-in-out,
        transform 300ms ease-in-out;
    }

    &::before {
      opacity: 1;
      transform: translateY(0);
    }

    &::after {
      opacity: 0;
      transform: translateY(100%);
    }
  }
}

.topper__featured-event {
  outline: $border-cover;
  position: relative;
}
